

@media screen and (min-width: 1px) and (max-width: 960px) {
  body {
    background-color: lightgreen;
  }
}
@media screen and (min-width: 960px) {
  body {
    background-color: grey;
  }
}

@media screen and (min-width: 1px) and (max-width: 1020px) {
  .head-title {
    width: 1000px;
    text-align: center;
  }
}
@media screen and (min-width: 1021px) {
  .head-title {
    text-align: center;
  }
}

.mc2 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mc2 p  {
  display: inline-block;
  margin-left: 30px;
}

#clock {
  font-size: 26px;
  color: blue;
}

.canvas-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-style: solid;
  border-width: 8px;
  border-radius: 20px;
  padding: 10px;
}

#canvas {
  background-color: lightgrey;
  border-color: green;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
}


/*
INPUT INPUT
INPUT INPUT
INPUT INPUT
*/



.input-group1 {
  text-align: block;
}
.init, .reset, .start {
  height: 32px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}
.init {
  color: blue;
  background-color: lightblue;
  border-color: blue;
}
.reset {
  background-color: lightgrey;
  border-color: black;
  color: black;
}
.start {
  background-color: lightgreen;
  color: green;
  border-color: green;
}

/*
remove stupid default button active shadow
*/
.btn:focus, .btn:active, .btn.active, .btn:focus:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.txt-in {
  width: 70px;
}
.input-item {
  margin-left: auto;
  margin-right: auto;
}
#bars {
}
#bar-width {
}
